body {
    text-align: center;
    margin-top: 2em;
}
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
    border: 3px solid black;
    display:
}

th {
    padding: 5px;
    border-bottom: 2px dotted black;
}

td {
    padding-bottom: 5px;
    padding-top: 5px;
}

form {
    border: 1px solid red;
    display:block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

label, input {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 3px;
}

label {
    width: 30%;
    text-align: left;
}
input {
    width: 200px;
    height: 28px;
}